<div class="row">
  <div class="col-xs-offset-1 col-xs-6">
    <%= form_for [user, page] do |f| %>
      <div class="form-group">
        <%= f.select :name, options_for_select([
          ["About","about"],
          ["Contact", "contact"]
        ], page.name), class: "form-control" %>
      </div> 
      <div class="form-group">
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
