<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="jumbotron">
      <h1> BlogIT </h1>
    </div>
    <div class="row">
      <div class="cust-con col-xs-12">
        <%= button_to "Users", users_path, method: :get, class: "btn btn-primary btn-cust" %>
      </div>
    </div>
  </div>
</div>
